@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
body{
    font-family: font-family, 'Merriweather', serif;
    background: rgb(33, 150, 243);
    color: #ffffff;
}
.slide1{
    flex-direction: column!important;
}
.btn1{
    --background: #0a0108;
    height: 40px;
    width: inherit;
}

@media screen and (max-width: 402px){
    .btn2{
        max-width: 98%;
        font-size: 12px;
        --background: #0a0108;
    }
    .cont{
        font-size: 15px!important;
        text-align: justify-all;
    }
    .hedwig{
        width: 100%!important;
        font-size: 16px!important;
    }
    .alert-title h2{
        font-size: 14px;
    }
    .swiper-slide img {
        width: auto;
        max-width: 85%;
        height: auto;
        max-height: 64%;
    }
}
h1{
    color:#FFFFFF ;
    text-align: center;
    font-size: 50px;
}
h2{
    color: #FFFFFF ;
    text-align: center;
}
P {
    color: #FFFFFF;
    font-size: 20px;
    text-align: justify-all;
}
.logo{
    position: relative;
    margin: 0 auto;
}
#div{
    max-height: available;
}
.alert2{
    background: #ffd6a5;
    padding-left: 20px;
    padding-right: 20px;
    width: max-content;
    height: max-content;
}

 .img2 {
     width: 90%!important;
     height: 90%!important;
 }

.card1{
    width:  100%;
    height: 90%;

}

.cont{
    font-size: 20px;
    color:#FFFFFF;

}
.btn , .btn1{
    font-size: 20px;
}

.btn{
    width: 300px;
}
.cards{
    color: #212121;
    background: #cedd3e;
}
.btnt{
    --background:#893ab7a3;
}
.b{
    display:flex;
    align-items: center;
}
.cards2{
    text-align: justify;
}
.btnD{
    --background: #000;
    color:white;
}
h3{
   color: #cedd3e;
}
#btn, #BtnR{
    width: 345px;
    --background: #000;
}

.grid {
  border: 2px solid #ffeb3b;
    width: 50%;

}
.grid1{
    display: flex;
    flex-direction: row-reverse;
}
.grid2{
    display: flex;
    flex-direction: row-reverse;
}
.div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}
.icon{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card{
    color: #212121;
    background: #dd6500;
}
.re{
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.re1{
    color: white;
}
.Juego {
    --background: WHITE;
    color: black;
    font-size: 11px;
}
.juego1{
    word-break: break-all;
}
.Grid {
    border: 2px solid #76ffff;
    COLOR: WHITE;
    FONT-SIZE: 18px;
    display: flex;
    flex-direction: column;
}

h5{
    color: white;
    position: relative;
    text-align: center;
}
.h5{
    color:  rgb(33, 150, 243);
    position: relative;
    text-align: center;
}
.h6{
    color: #424242;
    position: relative;
    text-align: center;
}
.per{
    color:  white;
    position: relative;
    text-align: center;
}
.re1{
    width: 200px;
    height: AUTO;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: center;
}
.i{
    color: rgb(33, 150, 243) ;
    position: relative;
    text-align: center;
}